button, a{
  line-height: 1.15;
  text-decoration: none;
  font-size: .9rem;
  font-weight: 500;
}
.btn{
  display: inline-block;
  border:none;
  padding: .485rem 1rem;
  min-width: 120px;
  border-radius: 4px;
  box-shadow: var(--shadow-2);
  font-size: .9rem;
  font-weight: 500;
  margin:.8rem .3rem;
  color:white;
  text-align: center;
}
.btn:hover{
  cursor:pointer;
  box-shadow: var(--shadow-2);
}
.btn-primary{
  background-color: var(--primary-color);
}
.btn-primary:hover{
  background-color: var(--purple-40);
}
.btn-success{
  background-color: var(--success-60);
}
.btn-success:hover{
  background-color: var(--success-40);
}
.btn-warning{
  background-color: var(--warning-60);
}
.btn-warning:hover{
  background-color: var(--warning-40);
}
.btn-error{
  background-color: var(--error-60);
}
.btn-error:hover{
  background-color: var(--error-40);
}
.btn-info{
  background-color: var(--info-60);
}
.btn-info:hover{
  background-color: var(--info-40);
}
.btn-dark{
  background-color: var(--neutral-100);
}
.btn-dark:hover{
  background-color: var(--neutral-90);
}
.btn-flat-primary{
  color: var(--primary-color);
  box-shadow:none;
  border:none;
  background-color:white;
}
.btn-flat-primary:hover{
  background-color: var(--purple-10);
  box-shadow:none;
}
.btn-flat-success{
  color: var(--success-60);
  box-shadow:none;
  border:none;
  background-color:white;
}
.btn-flat-success:hover{
  background-color: var(--success-10);
  box-shadow:none;
}
.btn-flat-warning{
  color: var(--warning-60);
  box-shadow:none;
  border:none;
  background-color:white;
}
.btn-flat-warning:hover{
  background-color: var(--warning-10);
  box-shadow:none;
}
.btn-flat-error{
  color: var(--error-60);
  box-shadow:none;
  border:none;
  background-color:white;
}
.btn-flat-error:hover{
  background-color: var(--error-10);
  box-shadow:none;
}
.btn-flat-info{
  color: var(--info-60);
  box-shadow:none;
  border:none;
  background-color:white;
}
.btn-flat-info:hover{
  background-color: var(--info-10);
  box-shadow:none;
}
.btn-flat-dark{
  color: var(--neutral-100);
  box-shadow:none;
  border:none;
  background-color:white;
}
.btn-flat-dark:hover{
  background-color: var(--neutral-30);
  box-shadow:none;
}