:root {
  --white: #FFF;
  --neutral-05: #F9FBFF;
  --neutral-10: #F6F8FC;
  --neutral-20: #F1F4F9;
  --neutral-30: #E2E8F0;
  --neutral-40: #CBD4E1;
  --neutral-50: #94A3B8;
  --neutral-60: #64748B;
  --neutral-70: #475569;
  --neutral-80: #27364B;
  --neutral-90: #1E2A3B;
  --neutral-100: #0F1A2A;
  --success-10: #E8FCF1;
  --success-20: #A5E1BF;
  --success-40: #419E6A;
  --success-60: #00632B;
  --success-80: #00401C;
  --success-100: #002611;
  --info-10: #D3E1FE;
  --info-20: #7EA5F8;
  --info-40: #4D82F3;
  --info-60: #2563EB;
  --info-80: #0037B3;
  --info-100: #002987;
  --warning-10: #FFF5D5;
  --warning-20: #FFDE81;
  --warning-40: #EFB008;
  --warning-60: #976400;
  --warning-80: #724B00;
  --warning-100: #4D2900;
  --error-10: #FFEBEB;
  --error-20: #FC9595;
  --error-40: #D83232;
  --error-60: #B01212;
  --error-80: #8C0000;
  --error-100: #660000;
  --purple-10: #F5E8FF;
  --purple-20: #D8AAFD;
  --purple-40: #AC54F0;
  --purple-60: #8219D5;
  --purple-80: #530094;
  --purple-100: #320059;
}