@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import "layout/variables.css";
@import 'layout/inputs.css';
@import 'layout/buttons.css';

*{
  box-sizing: border-box;
}
body {
  background-color: var(--bg-color);
  font-family: 'Montserrat', sans-serif;
  color: var(--dark-font);
  min-height: 100vh;
  line-height: 1.15;
  margin:0;
  padding:0;
}

.card-title{
  padding: 0 .5rem;
}

.content-login{
  width: 100%;
  height: 100%;
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('../images/bienvenido-al-mundo-workanda.jpg'),linear-gradient(49deg,#5c0b44 19%,#ffaf1c 100%) !important;
}
.card-login{
  background-color: white;
  border-radius: .3rem;
  padding: .5rem;
  box-shadow: var(--shadow-card);
  min-width: 25%;
}
.justify-end{
  display: flex;
  justify-content: flex-end;
}

.main{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: stretch;
}
nav{
  width: 100vw;
  background-color: white;
  height: 65px;
  box-shadow: var(--shadow-card);
}